<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.admin.server.core.dao.SysDepartmentMapper" >
  	<resultMap id="BaseResultMap" type="SysDepartment" >
		<id column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="pcode" property="pcode"/>
	    <result column="name" property="name"/>
		<result column="leader" property="leader"/>
	    <result column="description" property="description"/>
		<result property="createrId" column="creater_id"/>
		<result property="createrName" column="creater_name"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyId" column="modify_id"/>
		<result property="modifyName" column="modify_name"/>
		<result property="modifyTime" column="modify_time"/>
  	</resultMap>
  
  	<resultMap id="ListResultMap" type="SysDepartmentList" extends="BaseResultMap">
		<result column="pname" property="pname"/>
  	</resultMap>
  	


  	<select id="listPage" parameterType="SysDepartmentSearch" resultMap="ListResultMap">
		SELECT
			t.*,
			p.NAME AS pname
		FROM
			sys_department t
		LEFT JOIN
			sys_department p
		ON t.pcode = p.CODE
		WHERE
		1 = 1
		<if test="code != null and code !=  ''">
			AND t.code = #{code}
		</if>
		<if test="pcode != null and pcode !=  ''">
			AND t.pcode = #{pcode}
		</if>
		ORDER BY t.pcode,t.code
  	</select>
  
  	<select id="findByCondition" parameterType="SysDepartmentSearch" resultMap="ListResultMap">
		SELECT t.* FROM sys_department t WHERE 1=1
		<if test="id != null and id !=  ''">
			AND t.id = #{id}
		</if>
		<if test="code != null and code !=  ''">
			AND t.code = #{code}
		</if>
		<if test="pcode != null and pcode !=  ''">
			AND t.pcode = #{pcode}
		</if>
		<if test="name != null and name !=  ''">
			AND t.name = #{name}
		</if>
		ORDER BY t.pcode,t.code
  	</select>


	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO sys_department (
			id,
			code,
			pcode,
			name,
			leader,
			description,
			creater_id,
			creater_name,
			create_time
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
		(
			UUID(),
			#{item.code},
			#{item.pcode},
			#{item.name},
			#{item.leader},
			#{item.description},
			#{item.createrId},
			#{item.createrName},
			sysdate()
		)
		</foreach>
	</insert>


	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" separator=";" index="index" item="item">
			update sys_department set
			name = #{item.name},
			description = #{item.description},
			leader = #{item.leader},
			modify_id = #{item.modifyId},
			modify_time = sysdate()
			where id = #{item.id}
		</foreach>
	</update>
  
	<delete id="batchDelete" parameterType="java.util.List">
		<![CDATA[  
	       delete from sys_department where id in
	    ]]>  
	    <foreach collection="list" item = "id" open="(" separator="," close=")">
	  		#{id }
	    </foreach> 
	</delete>
</mapper>