<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.admin.server.core.dao.SysDataPrivilegeRulesMapper" >
  	<resultMap id="BaseResultMap" type="SysDataPrivilegeRules" >
		<id column="id" property="id"/>
		<result column="data_privilege_id" property="dataPrivilegeId"/>
		<result column="data_privilege_uuid" property="dataPrivilegeUuid"/>
		<result column="type" property="type"/>
		<result column="expression" property="expression"/>
		<result property="createrId" column="creater_id"/>
		<result property="createrName" column="creater_name"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyId" column="modify_id"/>
		<result property="modifyName" column="modify_name"/>
		<result property="modifyTime" column="modify_time"/>
  	</resultMap>
  
  	<resultMap id="ListResultMap" type="SysDataPrivilegeRulesList" extends="BaseResultMap">
		<result column="business_name" property="businessName"/>
  	</resultMap>
  	


  	<select id="listPage" parameterType="SysDataPrivilegeRulesSearch" resultMap="ListResultMap">
		SELECT
			GROUP_CONCAT(t1.business_name) AS business_name,
			GROUP_CONCAT(t.data_privilege_id) AS data_privilege_id,
			GROUP_CONCAT(t.creater_id) AS creater_id,
			GROUP_CONCAT(t.create_time) AS create_time,
			GROUP_CONCAT(t.type) AS type
		FROM
			sys_data_privilege_rules t,sys_data_privilege t1
		WHERE
		t.data_privilege_id = t1.id
		<if test="dataPrivilegeUuid != null and dataPrivilegeUuid !=  ''">
			AND t.data_privilege_uuid = #{dataPrivilegeUuid}
		</if>
		<if test="type != null and type !=  ''">
			AND t.type = #{type}
		</if>
		<if test="businessName != null and businessName !=  ''">
			AND t1.business_name = #{businessName}
		</if>
		GROUP BY t1.business_name
		ORDER BY business_name
  	</select>
  
  	<select id="findByCondition" parameterType="SysDataPrivilegeRulesSearch" resultMap="ListResultMap">
		SELECT
			t.*
		FROM
		sys_data_privilege_rules t
		WHERE
		1 = 1
		<if test="id != null and id !=  ''">
			AND t.id = #{id}
		</if>
		<if test="dataPrivilegeUuid != null and dataPrivilegeUuid !=  ''">
			AND t.data_privilege_uuid = #{dataPrivilegeUuid}
		</if>
		<if test="type != null and type !=  ''">
			AND t.type = #{type}
		</if>
		ORDER BY type DESC
  	</select>

	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" separator=";" index="index" item="item">
			update sys_data_privilege_rules set
			expression = #{item.expression},
			modify_id = #{item.modifyId},
			modify_time = sysdate()
			where id = #{item.id}
		</foreach>
	</update>

	<delete id="deleteByDataPrivilegeId" parameterType="Long">
		delete from sys_data_privilege_rules where data_privilege_id = #{0}
	</delete>
</mapper>