<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.admin.server.dao.SysRoleMapper" >
  	<resultMap id="BaseResultMap" type="SysRole" >
		<id column="id" property="id"/>
		<result column="code" property="code"/>
	    <result column="name" property="name"/>
	    <result column="description" property="description"/>
	    <result column="status" property="status"/>
		<result property="createrId" column="creater_id"/>
		<result property="createrName" column="creater_name"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyId" column="modify_id"/>
		<result property="modifyName" column="modify_name"/>
		<result property="modifyTime" column="modify_time"/>
  	</resultMap>
  
  	<resultMap id="ListResultMap" type="SysRoleList" extends="BaseResultMap">
  	</resultMap>
  	


  	<select id="listPage" parameterType="SysRoleSearch" resultMap="ListResultMap">
		SELECT
			t.id,
			t.code,
			t.name,
			t.description,
			t.`status`,
			t.creater_id,
			t.creater_name,
			t.create_time,
			t.modify_id,
			t.modify_name,
			t.modify_time
		FROM sys_role t WHERE 1=1
		<if test="code != null and code !=  ''">
			AND t.code = #{code}
		</if>
		<if test="name != null and name !=  ''">
			AND t.name = #{name}
		</if>
		<if test="status != null and status !=  ''">
			AND t.status = #{status}
		</if>
		ORDER BY t.name,t.status
  	</select>
  
  	<select id="findByCondition" parameterType="SysRoleSearch" resultMap="ListResultMap">
  		select
			t.id,
			t.code,
			t.name,
			t.description,
			t.`status`,
			t.creater_id,
			t.creater_name,
			t.create_time,
			t.modify_id,
			t.modify_name,
			t.modify_time
		FROM sys_role t WHERE 1=1
		<if test="id != null and id !=  ''">
			AND t.id = #{id}
		</if>
		<if test="code != null and code !=  ''">
			AND t.code = #{code}
		</if>
		<if test="name != null and name !=  ''">
			AND t.name = #{name}
		</if>
		<if test="status != null and status !=  ''">
			AND t.status = #{status}
		</if>
		ORDER BY t.name,t.status
  	</select>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO sys_role (
			id,
			code,
			name,
			description,
			status,
			creater_id,
			creater_name,
			create_time
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
		(
			UUID(),
			#{item.code},
			#{item.name},
			#{item.description},
			'100201',
			#{item.createrId},
			#{item.createrName},
			sysdate()
		)
		</foreach>
	</insert>


	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" separator=";" index="index" item="item">
			update sys_role set
			name = #{item.name},
			description = #{item.description},
			status = #{item.status},
			modify_id = #{item.modifyId},
			modify_time = sysdate()
			where id = #{item.id}
		</foreach>
	</update>
  
	<delete id="batchDelete" parameterType="java.util.List">
		<![CDATA[  
	       delete from sys_role where name != 'admin' and id in
	    ]]>  
	    <foreach collection="list" item = "id" open="(" separator="," close=")">
	  		#{id }
	    </foreach> 
	</delete>
</mapper>