<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.admin.server.core.dao.SysResourceMapper" >
  	<resultMap id="BaseResultMap" type="SysResource" >
    	<id column="id" property="id"/>
		<result column="code" property="code"/>
    	<result column="menu_code" property="menuCode"/>
    	<result column="name" property="name"/>
		<result column="description" property="description"/>
    	<result column="permission" property="permission"/>
    	<result column="url" property="url"/>
	  	<result property="createrId" column="creater_id"/>
	  	<result property="createrName" column="creater_name"/>
	  	<result property="createTime" column="create_time"/>
	  	<result property="modifyId" column="modify_id"/>
	  	<result property="modifyName" column="modify_name"/>
	  	<result property="modifyTime" column="modify_time"/>
  	</resultMap>

	<resultMap id="ResourceTreeDtoMap" type="com.wust.springcloud.common.dto.ResourceTreeDto">
		<result column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="menu_code" property="menuCode"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="checked" property="checked"/>
		<result column="nocheck" property="nocheck"/>
	</resultMap>

	<select id="findByCondition" parameterType="SysResourceSearch" resultMap="BaseResultMap">
		SELECT * FROM sys_resource sr WHERE 1=1
		<if test="url != null and url != ''">
			<![CDATA[ AND sr.url LIKE CONCAT('%',#{url},'%')]]>
		</if>
	</select>

	<!-- 获取指定菜单下面的白名单集合 -->
	<select id="findAnonResourcesByMenuId" parameterType="String" resultMap="BaseResultMap">
		SELECT
			sr.id,
			sr.name,
			sr.description,
			sr.permission,
			sr.url,
			sr.menu_code
		FROM sys_resource sr
		WHERE sr.permission = 'anon' AND sr.menu_code = #{0}
	</select>

	<select id="findByOrganizationId" parameterType="Long" resultMap="ResourceTreeDtoMap">
		SELECT
			DISTINCT
			r.id,
			r.name,
			r.description,
			r.menu_code,
			IF(rr.resource_id IS NULL,'false','true') AS checked
		FROM sys_resource r
		LEFT JOIN (SELECT srs.resource_id FROM sys_role_resource srs WHERE srs.type='r' AND srs.organization_id = #{0}) rr
		ON r.id = rr.resource_id
		WHERE r.permission != 'anon'
		ORDER BY r.name ASC
	</select>

	<!-- 清空资源 -->
  	<delete id="deleteAll">
  		delete from sys_resource
  	</delete>
</mapper>