<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.sso.server.dao.SysAppTokenMapper">
    <resultMap id="BaseResultMap" type="SysAppToken">
        <result column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="expire_time" property="expireTime"/>
        <result column="token" property="token"/>
        <result property="createrId" column="creater_id"/>
        <result property="createrName" column="creater_name"/>
        <result property="modifyId" column="modify_id"/>
        <result property="modifyName" column="modify_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <resultMap id="ListResultMap" extends="BaseResultMap" type="SysAppTokenList">
    </resultMap>

    <select id="findByCondition" parameterType="SysAppTokenSearch" resultMap="ListResultMap">
        SELECT * FROM sys_app_token t WHERE 1=1
        <if test="id != null and id !=  ''">
            AND t.id = #{id}
        </if>
        <if test="loginName != null and loginName !=  ''">
            AND t.login_name = #{loginName}
        </if>
        <if test="password != null and password != ''">
            AND t.password = #{password}
        </if>
    </select>


    <update id="update" parameterType="SysAppToken">
        UPDATE sys_app_token
        <set>
            password = #{password},
            expire_time = #{expireTime},
            token = #{token},
            modify_id = #{modifyId},
            modify_name = #{modifyName},
            modify_time = sysdate()
        </set>
        WHERE id = #{id}
    </update>
</mapper>