<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.springcloud.sso.server.dao.SysOperationLogMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_operation_log (
        id,
        module_name,
        business_name,
        operation_role,
        operation_data,
        operation_type,
        operation_ip,
        source,
        creater_id,
        create_time
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            UUID(),
            #{item.moduleName},
            #{item.businessName},
            #{item.operationRole},
            #{item.operationData},
            #{item.operationType},
            #{item.operationIp},
            #{item.source},
            #{item.createrId},
            sysdate()
            )
        </foreach>
    </insert>

</mapper>